@model Dimensionamento.Entities.Costado.CostadoFullView

@{
	ViewData["Title"] = "View1";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h2>Results</h2>
	<hr />
	<h4>Inputs</h4>
	<dl class="dl-horizontal">
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Inputs.Pressao_Interna_de_Projeto)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Inputs.Pressao_Interna_de_Projeto)
		</dd>
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Inputs.Diametro_Interno)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Inputs.Diametro_Interno)
		</dd>
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Inputs.Maxima_Tensao_Admissivel)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Inputs.Maxima_Tensao_Admissivel)
		</dd>
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Inputs.Eficiencia_de_Junta_do_Costado)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Inputs.Eficiencia_de_Junta_do_Costado)
		</dd>
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Inputs.Sobrespessura_de_Corrosao)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Inputs.Sobrespessura_de_Corrosao)
		</dd>
	</dl>
	<h4>Outputs</h4>
	<dl class="dl-horizontal">
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Categoria)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Categoria)
		</dd>
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Grupo)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Grupo)
		</dd>
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Classe)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Classe)
		</dd>
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_sem_sobrespessura_de_corrosao)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_sem_sobrespessura_de_corrosao)
		</dd>
		<dt style = "width:350px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_com_sobrespessura_de_corrosao)
		</dt>
		<dd style = "margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_com_sobrespessura_de_corrosao)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
	<a asp-action="Index">Back to List</a>
</div>
