@model Dimensionamento.Entities.Costado.DadosFullView

@{
	ViewData["Title"] = "Resultados";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h1>Resultados</h1>
	<hr />
	<h2>NR-13</h2>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Categoria)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Categoria)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Grupo)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Grupo)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Classe)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Classe)
		</dd>
	</dl>
	<hr />
	<h2>Costado</h2>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_do_costado_sem_sobrespessura_de_corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_do_costado_sem_sobrespessura_de_corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_do_costado_com_sobrespessura_de_corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_do_costado_com_sobrespessura_de_corrosao)
		</dd>
	</dl>
	<hr />
	<h2>Tampos</h2>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Pressao_interna_maxima_admissivel_dos_tampos)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Pressao_interna_maxima_admissivel_dos_tampos)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_dos_tampos_sem_sobrespessura_de_corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_dos_tampos_sem_sobrespessura_de_corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_dos_tampos_com_sobrespessura_de_corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_dos_tampos_com_sobrespessura_de_corrosao)
		</dd>
	</dl>
	<hr />
	<h2>Bocais</h2>
	<h3>Bocal de Entrada de Fluido</h3>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Entrada_de_Fluido_t1_Sem_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Entrada_de_Fluido_t1_Sem_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Entrada_de_Fluido_t1_Com_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Entrada_de_Fluido_t1_Com_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Entrada_de_Fluido_t2)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Entrada_de_Fluido_t2)
		</dd>
		<dt style="width:420px; text-align: left">
			Reforço de Bocais
		</dt>
		<dd style="margin-left: 180px;">
			Necessário
		</dd>
	</dl>
	<br>
	<h3>Bocal de Saída de Gás</h3>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Gas_t1_Sem_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Gas_t1_Sem_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Gas_t1_Com_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Gas_t1_Com_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Gas_t2)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Gas_t2)
		</dd>
		<dt style="width:420px; text-align: left">
			Reforço de Bocais
		</dt>
		<dd style="margin-left: 180px;">
			Necessário
		</dd>
	</dl>
	<br>
	<h3>Bocal de Válvula de Seguranca</h3>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Valvula_de_Seguranca_t1_Sem_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Valvula_de_Seguranca_t1_Sem_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Valvula_de_Seguranca_t1_Com_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Valvula_de_Seguranca_t1_Com_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Valvula_de_Seguranca_t2)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Valvula_de_Seguranca_t2)
		</dd>
		<dt style="width:420px; text-align: left">
			Reforço de Bocais
		</dt>
		<dd style="margin-left: 180px;">
			Necessário
		</dd>
	</dl>
	<br>
	@*<h3>Bocal de Saída de Água</h3>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Agua_t1_Sem_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Agua_t1_Sem_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Agua_t1_Com_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Agua_t1_Com_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Agua_t2)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Agua_t2)
		</dd>
	</dl>
	<br>
	<h3>Bocal de Saida de Óleo</h3>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Oleo_t1_Sem_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Oleo_t1_Sem_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Oleo_t1_Com_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Oleo_t1_Com_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Oleo_t2)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocal_de_Saida_de_Oleo_t2)
		</dd>
	</dl>
	<br>*@
	<h3>Dreno</h3>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Dreno_t1_Sem_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Dreno_t1_Sem_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Dreno_t1_Com_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Dreno_t1_Com_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Dreno_t2)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Dreno_t2)
		</dd>
		<dt style="width:420px; text-align: left">
			Reforço de Bocais
		</dt>
		<dd style="margin-left: 180px;">
			Necessário
		</dd>
	</dl>
	<br>
	<h3>Respiradouro</h3>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Respiradouro_t1_Sem_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Respiradouro_t1_Sem_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Respiradouro_t1_Com_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Respiradouro_t1_Com_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Respiradouro_t2)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Respiradouro_t2)
		</dd>
		<dt style="width:420px; text-align: left">
			Reforço de Bocais
		</dt>
		<dd style="margin-left: 180px;">
			Necessário
		</dd>
	</dl>
	<br>
	<h3>Bocas de Visita</h3>
	<dl class="dl-horizontal">
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocas_de_Visita_t1_Sem_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocas_de_Visita_t1_Sem_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocas_de_Visita_t1_Com_Sobrespessura_de_Corrosao)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocas_de_Visita_t1_Com_Sobrespessura_de_Corrosao)
		</dd>
		<dt style="width:420px; text-align: left">
			@Html.DisplayNameFor(model => model.Outputs.Espessura_Bocas_de_Visita_t2)
		</dt>
		<dd style="margin-left: 180px;">
			@Html.DisplayFor(model => model.Outputs.Espessura_Bocas_de_Visita_t2)
		</dd>
		<dt style="width:420px; text-align: left">
			Reforço de Bocais
		</dt>
		<dd style="margin-left: 180px;">
			Necessário
		</dd>
	</dl>
</div>
<div>
	<br>
	<input type="submit" onclick="location.href='javascript:window.print()';" value="Imprimir Resultados" class="btn btn-primary mb1 bg-navy" />
	<br>
	<br>
	<br>
	<a asp-action="DadosDeProjeto">Voltar para o formulário inicial</a>
</div>
