@model Dimensionamento.Entities.Costado.DadosOutputs

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>CostadoOutputs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Espessura_do_costado_sem_sobrespessura_de_corrosao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Espessura_do_costado_sem_sobrespessura_de_corrosao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Espessura_do_costado_com_sobrespessura_de_corrosao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Espessura_do_costado_com_sobrespessura_de_corrosao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
