@model Dimensionamento.Entities.Costado.DadosFullView

@{
    ViewData["Title"] = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View1</h2>

<div>
	<h4>CostadoFullView</h4>
	<hr />
	<h4>Inputs</h4>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Inputs.Pressao_Interna_de_Projeto)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Inputs.Pressao_Interna_de_Projeto)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Inputs.Diametro_Interno)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Inputs.Diametro_Interno)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Inputs.Maxima_Tensao_Admissivel)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Inputs.Maxima_Tensao_Admissivel)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Inputs.Eficiencia_de_Junta_do_Costado)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Inputs.Eficiencia_de_Junta_do_Costado)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Inputs.Sobrespessura_de_Corrosao)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Inputs.Sobrespessura_de_Corrosao)
		</dd>
	</dl>
	<h4>Outputs</h4>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Categoria)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Categoria)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Grupo)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Grupo)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Outputs.Classificacao_NR_13.Classe)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Outputs.Classificacao_NR_13.Classe)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Outputs.Espessura_do_costado_sem_sobrespessura_de_corrosao)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Outputs.Espessura_do_costado_sem_sobrespessura_de_corrosao)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Outputs.Espessura_do_costado_com_sobrespessura_de_corrosao)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Outputs.Espessura_do_costado_com_sobrespessura_de_corrosao)
		</dd>
	</dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
